<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="user" value="gdCupon2019" />
    <add key="password" value="gd2019" />
    <add key="current_date" value="2019-11-26" />
  </appSettings>
</configuration>